<link rel="stylesheet" type="text/css"  media="print" href="/css/print.css">
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
<script src="/js/listar/estoque.js"></script>

<h1>Estoque</h1>
<div style="display: flex; justify-content: space-between;">
    <a id="novoReg" class="btn btn-secondary" style="max-width: 200px;" href="/estoque/cadastrar">Novo Estoque</a>
    <div>
        <button id="btnExportarExcel" class="btn btn-info" >Exportar para Excel</button>
        <button id="btnExportarPdf"  onclick="window.print()" class="btn btn-info">Exportar para PDF</button>
    </div>
</div>

<hr>
<div>
    <table id="tabelaEstoque" class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Id do Produto</th>
            <th>Id do Doador</th>
            <th>Registro Criado</th>
            <th>Registro Atualizado</th>
        </thead>
        <tbody>
            <% for (let i = 0; i < listaEstoq.length; i++) {%>
                <tr>
                    <td><%= listaEstoq[i].estoq_id %></td>
                    <td><%= listaEstoq[i].prod_id %></td>
                    <td><%= listaEstoq[i].doa_id %></td>
                    <td><%= listaEstoq[i].createdAt %></td>
                    <td><%= listaEstoq[i].updatedAt %></td>

                    <td>
                        <a id="alterabtn" href="/estoque/alterar/<%= listaEstoq[i].estoq_id %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                        <button id="delbtn" data-codigoexclusao="<%= listaEstoq[i].estoq_id %>" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>