<link rel="stylesheet" type="text/css"  media="print" href="/css/print.css">
<script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>
<script src="/js/listar/projeto.js"></script>

<h1>Projetos Registrados</h1>
<div style="display: flex; justify-content: space-between;">
    <a id="novoReg" class="btn btn-secondary" style="max-width: 200px;" href="/projeto/cadastrar">Novo Projeto</a>
    <div>
        <button id="btnExportarExcel" class="btn btn-info" >Exportar para Excel</button>
        <button id="btnExportarPdf"  onclick="window.print()" class="btn btn-info">Exportar para PDF</button>
    </div>
</div>

<hr>
<div>
    <table id="tabelaProjeto" class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Data</th>
            <th>Desc</th>
            <th>Registro criado</th>
            <th>Registro atualizado</th>
        </thead>
        <tbody>
            <% for (let i = 0; i < listaPro.length; i++) { %>
                <tr>
                    <td><%= listaPro[i].pro_id %></td>
                    <td><%= listaPro[i].pro_nome %></td>
                    <td><%= listaPro[i].pro_data %></td>
                    <td><%= listaPro[i].pro_desc %></td>
                    <td><%= listaPro[i].createdAt %></td>
                    <td><%= listaPro[i].updatedAt %></td>
                    <td>
                        <a id="alterabtn" href="/projeto/alterar/<%= listaPro[i].pro_id %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                        <button id="delbtn" data-codigoexclusao="<%= listaPro[i].pro_id %>" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>