<script src="/js/alterar/adocao.js"></script>
<div class="container">

    <div class="container-fluid">
        
        <h1 class="h3 mb-4 text-gray-800">Alterar Adoção</h1>
        <% if (typeof msg != "undefined") {%>
            <span><%= msg %></span>
        <% } %>

        <input id="id" hidden value="<%= adocao.ado_id %>">
        <input id="createdAt" hidden value="<%= adocao.createdAt %>">

        <div class="col-md-6">
            <label for="IdAdotante" class="form-label">Adotante<span class="text-danger">*</span></label>
            <select name="IdAdotante" id="IdAdotante" class="form-select">
                <option value="" disabled>Selecione...</option>
                <% listaPessoa.forEach(function(pessoa) { %>
                    <option value="<%= pessoa.pess_id %>" <%= adocao.pess_id === pessoa.pess_id ? "selected" : "" %> > <%= pessoa.pess_id %> - Nome: <%= pessoa.pess_nome %> - CPF: <%= pessoa.pess_cpf%></option>
                <% }); %>
            </select>
        </div>

        <div class="col-md-6">
            <label for="nome" class="form-label">Id do Animal<span class="text-danger">*</span></label>
            <select name="IdAnimal" id="IdAnimal" class="form-select">
                <option value="" disabled>Selecione...</option>
                <% listaAnimal.forEach(function(animal) { %>
                    <option value="<%= animal.ani_id %>" <%= adocao.ani_id === animal.ani_id ? "selected" : "" %> > <%= animal.ani_id %> - Nome: <%= animal.ani_nome %> - Raça: <%= animal.ani_raca%></option>
                <% }); %>
            </select>
        </div>

        <br>
        <br>
        
        <div class="col-12">
            <button type="button" class="btn btn-success px-4 py-3" id="btnAlterar">Salvar</button>
            <button type="button" class="btn btn-secondary px-3 py-3" href="/">Cancelar</button>
        </div>

    </div>

</div>