<script src="/js/alterar/empresas.js"></script>
<div class="container">
    <div class="container-fluid">

     <h1 class="h3 mb-4 text-gray-800">Alterar Empresa</h1>
        <div>
            <% if (typeof msg != "undefined") { %>             
                <span  ><%= msg %></span>
            <% } %>
        </div>   
        <input id="id" hidden value="<%= empresa.emp_id %>">
        <input id="createdAt" hidden value="<%= empresa.createdAt %>">
        <div class="col-md-4">
            <label for="emp_nome" class="form-label">Nome da empresa<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="emp_nome" name="emp_nome" placeholder="Digite o nome da empresa" value="<%= empresa.emp_nome%>">
        </div>
        <div class="col-md-4">
            <label for="emp_cnpj" class="form-label">CNPJ<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="emp_cnpj" name="emp_cnpj" placeholder="Digite o CNPJ" value="<%= empresa.emp_cnpj%>">
        </div>
        <div class="col-md-4">
            <label for="emp_cep" class="form-label">CEP<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="emp_cep" name="emp_cep" placeholder="Digite o CEP" value="<%= empresa.emp_cep%>">
        </div>
        <div class="col-md-4">
            <label for="emp_num" class="form-label">Número<span class="text-danger">*</span></label>
            <input type="number" class="form-control" id="emp_num" name="emp_num" placeholder="Digite o número" value="<%= empresa.emp_num%>">
        </div>
        <div class="col-md-4">
            <label for="emp_cidade" class="form-label">Cidade<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="emp_cidade" name="emp_cidade" placeholder="Digite a cidade" value="<%= empresa.emp_cidade%>">
        </div>
        <div class="col-md-4">
            <label for="emp_estado" class="form-label">Estado<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="emp_estado" name="emp_estado" placeholder="Digite o estado" value="<%= empresa.emp_estado%>">
        </div>
        <div class="col-md-4">
            <label for="emp_rua" class="form-label">Rua<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="emp_rua" name="emp_rua" placeholder="Digite a rua" value="<%= empresa.emp_rua%>">
        </div>
        <div class="col-md-4">
            <label for="emp_bairro" class="form-label">Bairro<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="emp_bairro" name="emp_bairro" placeholder="Digite o bairro" value="<%= empresa.emp_bairro%>">
        </div>
        <div class="col-md-4">
            <label for="emp_complemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="emp_complemento" name="emp_complemento" placeholder="Digite o complemento" value="<%= empresa.emp_complemento%>">
        </div>
        <div class="col-md-4">
            <label for="emp_telefone" class="form-label">Telefone<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="emp_telefone" name="emp_telefone" placeholder="Digite o telefone" value="<%= empresa.emp_telefone%>">
        </div>

        <br><br>
        <div class="col-12">
            <button type="button" class="btn btn-success px-4 py-3" id="btnAlterar">Salvar</button>
            <button type="button" class="btn btn-secondary px-3 py-3" id="cancelar">Cancelar</button>
        </div>
    </div>
</div>